:root {
    --clr-light: white;
    --clr-med: #d7dfe2;
    --clr-dark: #90a4ae;
    --clr-dark-heavy: #546e7a;
  }
 
.img-circle{
  width: 30vw;
  height: 20vh;
  border-radius: 7px;
}
.owl-theme .owl-dots .owl-dot span{
  margin: 1px 1px;
}

  
  .item{
      border:2px solid darkslategray transparent;
      box-sizing: border-box;
      border-radius: 7px;
      padding: 10px;


  }
  button{
    margin: 5px 5px 5px 5px !important;
    overflow: hidden !important;
  }
  .box{
    margin-bottom: 3% !important;
    margin-left: 7%;
    margin-right: 5%;
    width: auto;
    height: 210px;
    
  }
  .cells{
    
    text-align: center;
    width: 12em;
  height: 4em;
  border-radius: 2em;
  border: none;
  outline: none;
  background: var(--clr-med);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* box-shadow: -5px -5px 10px var(--clr-light), 5px 5px 10px var(--clr-dark), */
    /* inset -5px -5px 10px var(--clr-light), inset 5px 5px 10px var(--clr-dark); */
  font-family: Montserrat, sans-serif;
  color: #1a2335;
}
.cells:hover{
  background-color: #3498db;
  color:#ffffff;
  transition: all linear 0.3s;
}

@media all and (max-width: 1000px) {
  button{
    margin: 5px 5px 5px 5px !important;
    overflow: hidden !important;
  }
 .item{
   width: 92%;
   margin-left: 3px;
   padding: 5px;

  }
  .img-circle{
    width: fit-content;
    height: 35vh;
  }
  .box{
    margin-bottom: 3% !important;
    height: 60%;
    width: 60%;

  }
.cells{
  
  text-align: center;
  width: 32vw;
  height: 8vh;
  border-radius: 5em;
  border: none;
  outline: none;
  background: var(--clr-med);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* box-shadow: -5px -5px 10px var(--clr-light), 5px 5px 10px var(--clr-dark),
    inset -5px -5px -10px var(--clr-light), inset 5px 5px 10px var(--clr-dark); */
  font-family: Montserrat, sans-serif;
  color: #1a2335;

}

}
.author{
    text-align: center;
}
@media all and (max-width: 450px) {
  .cells{
    width: 52vw;
    height: 8vh;
    font-size: inherit;
  }
}